| // Require JS  Config File
| 
| require.config({
| 	paths: {
- var rpaths = _.omit(paths, ['requirejs', 'modernizr', 'jquery']);
- for (var script in rpaths) {
	- if (script == _.last(_.keys(rpaths))) {
		| '#{script}': '#{distBower}/#{rpaths[script].path}'
	- } else {
		| '#{script}': '#{distBower}/#{rpaths[script].path}',
	- }	
- }	
| },
| 	shim: {
- var shims = _.omit(paths, _.map(paths, function (val, i, l) {if (!val.shim) return i}));
- for (var item in shims) {
	- if (item == _.last(_.keys(shims))) {
		| '#{item}': {'exports': '#{shims[item].shim}'}
	- } else {
		| '#{item}': {'exports': '#{shims[item].shim}'},
	- }
- }
| },
| 	waitSeconds: 20,
| 	baseUrl: '#{baseUrl}'
| });
| 
| $('button').click(function(){
| 	$(this).remove();
| 	initTORPChat();
| });
| 
| var initTORPChat = function () {
|	require(["app"], function(App) {
|		App.initialize();
|	});
| };